* {
	box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0;
}

.half-width {
	width: 100%;
	float:left;
	height: 500px;
}

.controls-container p {
	text-align: center;
}

.controls-container button {
	background-color:#536DFE;
	color: #fff;
	padding: 10px 0;
	border: none;
	width:80px;
}

.square {
	width: 50px;
	height: 50px;
	background-color: #F57C00;
	position: relative;
}
@media (min-width: 750px) {
	.half-width {
		width: 50%;
	}
}